body {
    background-color: moccasin;
}

#table-of-contents {
    font-family: fantasy;
}

#appetizers {
    font-family: sans-serif;
}

#entrees {
    font-family: serif;
}

#desserts {
    font-family: cursive;
}