body {
    background-color: moccasin;
}

#table-of-contents {
    font-family: fantasy;
    text-align: center;
}

#table-of-contents ul {
    list-style-position: inside;
    display: inline-block;
}

#table-of-contents li {
    text-align: left;
}

#appetizers {
    font-family: sans-serif;
}

#entrees {
    font-family: serif;
}

#desserts {
    font-family: cursive;
}